.header {
  border-bottom: 1px solid var(--top-line-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  height: 60px;
  @media screen and (max-width: 1199px) {
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    height: 80px;
  }
  @media screen and (min-width: 1200px) {
    height: 80px;
  }
}

.header__navigation {
  display: flex;
  align-items: center;
}

.navigation__logo {
  @media screen and (min-width: 768px) {
    margin-right: 87px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.navigation__menu {
  display: flex;
  gap: 50px;
}

.menu__item {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.menu__link {
  display: block;
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
  &.current {
    color: var(--accent-color);
  }
  &.current::after {
    content: "";

    position: absolute;
    bottom: -1px;

    display: block;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.navigation__contacts {
  @media screen and (min-width: 1200px) {
    display: flex;
    gap: 30px;
  }
}

.contacts__item {
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contacts__mail,
.contacts__tel {
  display: flex;
  align-items: center;
  @media screen and (min-width: 1200px) {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.mail,
.tel {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  .header & {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--primary-text-color);
  }
  &:hover,
  &:focus {
    color: var(--accent-color);
    fill: var(--accent-color);
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}

.mail__icon {
  margin-right: 10px;
}

.tel__icon {
  margin-right: 10px;
}

.menu-open {
  display: none;
  @media screen and (max-width: 767px) {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    fill: var(--title-text-color);
    padding: 0;
    right: 15px;
    top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }
}

.nav-menu {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  top: 0;
  position: fixed;
  z-index: 1;
  padding: 10vw 8vw;
  @media screen and (min-width: 480px) {
    padding: 48px 40px;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.nav-menu-close {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  fill: var(--title-text-color);

  position: absolute;
  right: 15px;
  top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.nav-menu-general {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  overflow: auto;
}
.nav-menu-list {
  margin-bottom: 32px;
}
.nav-menu-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.nav-menu-link {
  font-weight: 500;
  font-size: 8vw;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  &.current {
    color: var(--accent-color);
  }
  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}
.menu-contacts-list {
  margin-bottom: 64px;
}
.menu-contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}
.menu-contacts-tel {
  font-weight: 500;
  font-size: 7vw;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}
.menu-contacts-mail {
  font-weight: 500;
  font-size: 5vw;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 64px;
  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}
.menu-social-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.menu-social-item {
  position: relative;
  &:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 1px;
    height: 22px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}
.menu-social-link {
  font-weight: 500;
  font-size: 4vw;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);
  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
