.people {
  background-color: var(--secondary-bg-color);
}

.people__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.people__item {
  box-shadow: var(--box-shadow-color);
  border-radius: 0px 0px 4px 4px;
  width: 100%;
  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
  }
  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 4);
  }
}

.people__text-box {
  padding: 30px 32px;
  background-color: var(--white-color);
}

.people__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.people__text {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.social__item {
  width: 44px;
  height: 44px;
}
